*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding:0;
    list-style: none;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HEADER  */

.full-width{  /* for full coverage background-color of header */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.header{
    width:700px;
    margin-bottom: 48px;
    padding:10px;
}

.header-bar{
    display: flex;
    justify-content: space-between;

    margin-bottom: 48px;
}

ul{
    display: flex;
    gap:12px;

}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.big-text{
    font-size: 38px;
    font-weight: bold;
}

.subtext{
    margin-bottom: 6px;
}

.header-btn{
    display: block;
    margin:0;
    padding:8px 16px;
    border:none;
    border-radius: 5px;
}

.big-placeholder{
    width: 300px;
    height:150px; 
    background-color:lightblue;
}

/* CONTENT */

.content{
    text-align: center;
    width: 600px;
    margin-bottom: 48px;
}
.small-placeholder{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    background-color: white;
    border:5px solid lightblue;
    border-radius: 10px;
}

.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:38px;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* QUOTE CONTENT */

.quote-container{
    width:600px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 28px;
    font-weight:300;
    font-style: italic;
}
.author{
    align-self: flex-end;
    margin-right:20px;
    font-weight: bold;
}

.quote-full-width{
    width: 100%;/* for full coverage background-color of div */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}