@import url('https://fonts.cdnfonts.com/css/hero-new');

*{
    box-sizing: border-box;
    font-family: 'Hero New', sans-serif;
}
ul{
    margin: 0;
    padding:0;
    list-style: none;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HEADER  */

.full-width{  /* for full coverage background-color of header */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width:700px;
    margin-bottom: 48px;
    padding:10px;
    color:#F9FAFAF8;
}

.header-bar{
    display: flex;
    justify-content: space-between;

    margin-bottom: 62px;
}

ul{
    display: flex;
    gap:12px;

}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
   
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.big-text{
    font-size: 42px;
    line-height: 1;
    font-weight: bolder;
    
}

.subtext{
    margin-bottom: 6px;
    font-size: 13px;
}

.header-btn{
    display: block;
    margin:0;
    padding:4px 16px;
    border:none;
    border-radius: 5px;
    background-color:#3882F6;
    color:#F9FAFAF8;
    font-weight: 600;
}

.big-placeholder{
    width: 300px;
    height:150px; 
    background-color:#F9FAFAF8;
}

/* CONTENT */

.content{
    text-align: center;
    width: 600px;

    padding:40px;
    margin-bottom: 48px;
}
.small-placeholder{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-color: white;
    border:3px solid #3882F6;
    border-radius: 10px;
}

.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:38px;

}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* QUOTE CONTENT */

.quote-container{
    width:600px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 24px;
    font-weight:light;
    font-style: italic;
}
.author{
    align-self: flex-end;
    margin-right:20px;
    font-weight: bold;
    color:#1F2937;
}

.quote-full-width{
    width: 100%;/* for full coverage background-color of div */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
/* Lower Call to action */

.lower-container{
    padding:60px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:40px;

    padding: 30px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAFAF8;
}
.header-message{
    font-weight: bold;
}
.lower-btn{
    border: 2px solid #F9FAFAF8;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAFAF8;
    padding:4px 16px;
    font-weight: 600;
}
.footer{
    width: 100%;
    padding:15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-width,
.footer{
    background-color: #1F2937;
    color:#F9FAFAF8;
    font-size: small;
}